#logo{
    width: 15%;
    margin: 40px;
}

body{
    background-color: #000000 ;
}

#logo_marins{
    width: 300px;
}

.section1{
    
    margin-top: 120px;  
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    display: flex;
}

#logo_mammifere{
    width: 222px;
    

}

#logo_reptiles{
    width: 222px;
    
    
}