/* ------------ Choix langue droite ------------ */
.en-version {
    float: right;
    position: relative;
}

.en-version img {
    width: 50px;
    margin: 50px 50px;
}
/* ------------ ------------ */

/* .baniere {
    scale: auto;
    position: absolute;
    margin-left: 200px;
    margin-top: 20px;
    width: 1000px;
} */

.ban_contain {
    margin: 0;
    text-align: center;
    width: 100%;
    scale: auto;
    position: absolute;
}

.baniere {
    position: relative;
    width: 800px;
    margin-top: 0;
}

#logo{
    width: 8%;
    margin: 0 20px;
}

html {
    min-height: 100%;
}

body{
    background-color: #345;
	background-image: linear-gradient(to bottom, #0009, transparent);
    scale: auto;
    margin: 0;
}

.section1{
    
    margin-top: 1px;  
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    display: flex;
}

.section2{

    margin-top: 10px;  
    margin-left: 310px;
    margin-right: 250px;
    justify-content: space-around;
    display: flex;

}

#logo_poissons{
    width: 300px;
}

#logo_mammifere{
    width: 310px;
    

}

#logo_reptiles{
    width: 300px;   
}

#logo_amphibiens{
    width: 280px;
}

#logo_oiseaux{
    width: 280px;   
}

.resp {
    display: none;
}

.desk {
    display: block;
    margin-top: 50px;
}


/********************* Responsive ********************/
@media only screen 
and (orientation : portrait) {

/* ------------ Choix langue responsive ------------ */
.en-version img {
    width: 100px;
    margin: 25px 25px;
}
/* ------------ ------------ */

.resp {
    display: block;
}

.desk {
    display: none;
}

.baniere {
    display: none;
}

#logo {
    width: 200px;
}

.resp p {
    text-align: center;
    margin: auto;
    width: 600px;
}

.resp img {
    margin: 50px 0;
    
}

#logo_poissons{
    width: 450px;
}

#logo_mammifere{
    width: 460px;
    

}

#logo_reptiles{
    width: 450px;   
}

#logo_amphibiens{
    width: 430px;
}

#logo_oiseaux{
    width: 430px;   
}
}