#logo{
    width: 10%;
    margin: 20px;
}

body{
    background-color: #000000 ;
}

#logo_marins{
    width: 300px;
}

.section1{
    
    margin-top: 30px;  
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    display: flex;
}

.section2{

    margin-top: 60px;  
    margin-left: 310px;
    margin-right: 250px;
    justify-content: space-around;
    display: flex;

}


#logo_mammifere{
    width: 222px;
    

}

#logo_reptiles{
    width: 222px;   
}

#logo_amphibiens{
    width: 222px;
    

}

#logo_oiseaux{
    width: 222px;   
}