body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.text-img{
    clear: both ;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 120px;
    font-size: 32px;
}

.animal {
    font-size: x-large;
    margin: 150px auto auto auto;
    max-width: 1400px;
    text-align: justify;
}
.presentation {
    scale: 150%;
}

.img_container {
    text-align: center;
    margin-top: 75px;
}

.img-top {
    margin-top: 10px;
    width: 400px;
}

.audio-cont {
    max-width: 1400px;
    margin: 50px auto 100px auto;
}





 /* ------------ Footer ------------ */
 footer {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333333;
    bottom:0;
    width:100%;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 80px;
    
}

.footer-basic {
    margin-top: 50px;
    
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}
/* ------------ Fin du Footer ------------ */


/* ------------ Début du header ------------ */
html, body {
    min-height: 100%;
}

body {
    background-color: #345;
    background-image: linear-gradient(to bottom, #0009, transparent);
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    padding: 0 20px;
    box-sizing: border-box;
    
}

.links {
    background-color: #123;
    background-image: linear-gradient(to bottom, #0003, transparent);
    border-bottom: 1px solid #0003;
    box-shadow: 0 0 32px #0003;
    font-size: 2em;
    font-weight: 300;
    
}
.links > a {
    color: #9ab;
    padding: .75em;
    text-align: center;
    text-decoration: none;
    transition: all .5s;
}
.links > a:hover {
    background: #ffffff06;
    color: #adf;
}
.links > .line {
    background: #68a;
    height: 1px;
    pointer-events: none;
}


#header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.links {
    display: grid;
    grid-template-columns: repeat(var(--items), 1fr);
    position: relative;
}
.links > .line {
    opacity: 0;
    transition: all .5s;
    position: absolute;
    bottom: 0;
    left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
    width: var(--width, calc(100% / var(--items)));
    --index: 0;
}
.links > a:hover ~ .line {
    opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
.links > a:last-of-type:hover ~ .line { --index: var(--items); }

#logo_menu{
    width: 15%;
}




.en-version {
    float: right;
    position: relative;
    
}

.en-version img {
    width: 50px;
    margin: 25px 50px;
}

/* ------------ Fin du header ------------ */




/* ------------ Responsive ------------ */
@media only screen 
and (orientation : portrait) {

body {
    box-sizing: border-box;
    margin: auto;
    min-width: fit-content;
    max-width: 1400;
    padding: 0 50px;
}

h1 {
    font-size: 96px;
    margin-top: 300px;
    margin-bottom: 150px;
}

.img-top {
    margin-top: 50px;
    max-width: 500px;
}

.animal {
    margin: 200px auto auto auto;
    max-width: 1400px;
    text-align: justify;
    font-size: 48px;
}

audio {
    scale: 200%;
}

.audio-cont {
    text-align: center;
    margin: 150px auto 150px auto;
}











/* ------------ Header responsive ------------ */
header {
    position: relative;
}

.links {
    font-size: 3em;
}

.links > a {
    padding: 50px 0;
}

nav .logo_container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo_menu {
    padding-top: 15px;
    width: 100px;
}
/* ------------ Fin du header ------------ */



/* ------------ Footer responsive ------------ */
footer {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333333;
    bottom:0;
    width:100%;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: auto;
}

.footer-basic {
    margin-top: 50px;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:42px;
    line-height:1.6;
    margin-bottom:50px;
}
  
.footer-basic li {
    padding:0 10px;
}
  
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
  
.footer-basic ul a:hover {
    opacity:1;
}
  
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:36px;
    color:#aaa;
    margin-bottom:0;
}
/* ------------ Fin du Footer ------------ */



/* ------------ Choix langue responsive ------------ */
.en-version img {
    width: 100px;
    margin: 25px 25px;
}
/* ------------ ------------ */   
}